In [15]:
from data_analysis.weather_analysis.weather_analysis import WeatherDataProcessor
from datetime import datetime
from meteostat import Daily

In [16]:
# Идентификатор станции погоды (Самара - 28900)
station_id = '28900'

# Период анализа
start = datetime(2018, 1, 1)
end = datetime(2024, 1, 1)

data = Daily(station_id, start, end)
data = data.fetch()
data.reset_index()
# Создание экземпляра класса
processor = WeatherDataProcessor(data)

Функция __init__ выполнена за 0.0000 секунд

In [17]:
# Расчет скользящего среднего с окном 7 дней
processor.calculate_moving_average(window=7)

,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun,temp_avg_7
time,,,,,,,,,,,
2018-01-01,-4.3,-4.8,-3.6,0.5,NaN,134.0,7.8,NaN,1019.4,NaN,NaN
2018-01-02,-3.6,-4.7,-2.5,0.0,NaN,176.0,7.7,NaN,1022.8,NaN,NaN
2018-01-03,-2.2,-2.7,-1.5,0.0,NaN,152.0,8.3,NaN,1025.7,NaN,NaN
2018-01-04,-6.5,-7.5,-2.5,0.0,NaN,101.0,13.7,NaN,1025.7,NaN,NaN
2018-01-05,-11.8,-13.2,-7.5,0.0,NaN,116.0,12.3,NaN,1026.2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2023-12-28,-4.0,-5.0,-3.0,1.6,NaN,338.0,20.7,NaN,998.8,NaN,-1.771429
2023-12-29,-5.5,-7.2,-4.0,0.8,NaN,262.0,17.6,NaN,1004.2,NaN,-2.685714
2023-12-30,-2.3,-5.0,2.0,2.5,NaN,193.0,9.3,NaN,1004.3,NaN,-2.785714
2023-12-31,1.4,1.0,2.3,4.2,NaN,220.0,23.7,NaN,999.7,NaN,-2.385714
2024-01-01,-4.7,-14.0,2.0,2.5,NaN,293.0,22.2,NaN,1002.0,NaN,-2.800000

In [18]:
# Вычисление разницы температур
processor.compute_diff()

Функция compute_diff выполнена за 0.0005 секунд

,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun,temp_avg_7,temp_diff
time,,,,,,,,,,,,
2018-01-01,-4.3,-4.8,-3.6,0.5,NaN,134.0,7.8,NaN,1019.4,NaN,NaN,NaN
2018-01-02,-3.6,-4.7,-2.5,0.0,NaN,176.0,7.7,NaN,1022.8,NaN,NaN,0.7
2018-01-03,-2.2,-2.7,-1.5,0.0,NaN,152.0,8.3,NaN,1025.7,NaN,NaN,1.4
2018-01-04,-6.5,-7.5,-2.5,0.0,NaN,101.0,13.7,NaN,1025.7,NaN,NaN,-4.3
2018-01-05,-11.8,-13.2,-7.5,0.0,NaN,116.0,12.3,NaN,1026.2,NaN,NaN,-5.3
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-28,-4.0,-5.0,-3.0,1.6,NaN,338.0,20.7,NaN,998.8,NaN,-1.771429,-2.3
2023-12-29,-5.5,-7.2,-4.0,0.8,NaN,262.0,17.6,NaN,1004.2,NaN,-2.685714,-1.5
2023-12-30,-2.3,-5.0,2.0,2.5,NaN,193.0,9.3,NaN,1004.3,NaN,-2.785714,3.2
2023-12-31,1.4,1.0,2.3,4.2,NaN,220.0,23.7,NaN,999.7,NaN,-2.385714,3.7
2024-01-01,-4.7,-14.0,2.0,2.5,NaN,293.0,22.2,NaN,1002.0,NaN,-2.800000,-6.1

In [19]:
# Нахождение автокорреляции

processor.find_autocorrelation()

Функция find_autocorrelation выполнена за 0.3792 секунд

RuntimeWarning: Degrees of freedom <= 0 for slice
RuntimeWarning: divide by zero encountered in divide
RuntimeWarning: invalid value encountered in multiply

,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun,temp_avg_7,temp_diff,autocorr
time,,,,,,,,,,,,,
2018-01-01,-4.3,-4.8,-3.6,0.5,NaN,134.0,7.8,NaN,1019.4,NaN,NaN,NaN,0.971745
2018-01-02,-3.6,-4.7,-2.5,0.0,NaN,176.0,7.7,NaN,1022.8,NaN,NaN,0.7,0.937160
2018-01-03,-2.2,-2.7,-1.5,0.0,NaN,152.0,8.3,NaN,1025.7,NaN,NaN,1.4,0.916925
2018-01-04,-6.5,-7.5,-2.5,0.0,NaN,101.0,13.7,NaN,1025.7,NaN,NaN,-4.3,0.906898
2018-01-05,-11.8,-13.2,-7.5,0.0,NaN,116.0,12.3,NaN,1026.2,NaN,NaN,-5.3,0.899208
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-28,-4.0,-5.0,-3.0,1.6,NaN,338.0,20.7,NaN,998.8,NaN,-1.771429,-2.3,0.800069
2023-12-29,-5.5,-7.2,-4.0,0.8,NaN,262.0,17.6,NaN,1004.2,NaN,-2.685714,-1.5,-0.557439
2023-12-30,-2.3,-5.0,2.0,2.5,NaN,193.0,9.3,NaN,1004.3,NaN,-2.785714,3.2,-1.000000
2023-12-31,1.4,1.0,2.3,4.2,NaN,220.0,23.7,NaN,999.7,NaN,-2.385714,3.7,NaN
2024-01-01,-4.7,-14.0,2.0,2.5,NaN,293.0,22.2,NaN,1002.0,NaN,-2.800000,-6.1,NaN

In [20]:
# Поиск максимумов и минимумов
processor.find_extrema()

Функция find_extrema выполнена за 0.0026 секунд

,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun,temp_avg_7,temp_diff,autocorr,max,min
time,,,,,,,,,,,,,,,
2018-01-01,-4.3,-4.8,-3.6,0.5,NaN,134.0,7.8,NaN,1019.4,NaN,NaN,NaN,0.971745,NaN,NaN
2018-01-02,-3.6,-4.7,-2.5,0.0,NaN,176.0,7.7,NaN,1022.8,NaN,NaN,0.7,0.937160,NaN,NaN
2018-01-03,-2.2,-2.7,-1.5,0.0,NaN,152.0,8.3,NaN,1025.7,NaN,NaN,1.4,0.916925,-2.2,NaN
2018-01-04,-6.5,-7.5,-2.5,0.0,NaN,101.0,13.7,NaN,1025.7,NaN,NaN,-4.3,0.906898,NaN,NaN
2018-01-05,-11.8,-13.2,-7.5,0.0,NaN,116.0,12.3,NaN,1026.2,NaN,NaN,-5.3,0.899208,NaN,-11.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-28,-4.0,-5.0,-3.0,1.6,NaN,338.0,20.7,NaN,998.8,NaN,-1.771429,-2.3,0.800069,NaN,NaN
2023-12-29,-5.5,-7.2,-4.0,0.8,NaN,262.0,17.6,NaN,1004.2,NaN,-2.685714,-1.5,-0.557439,NaN,-5.5
2023-12-30,-2.3,-5.0,2.0,2.5,NaN,193.0,9.3,NaN,1004.3,NaN,-2.785714,3.2,-1.000000,NaN,NaN
2023-12-31,1.4,1.0,2.3,4.2,NaN,220.0,23.7,NaN,999.7,NaN,-2.385714,3.7,NaN,1.4,NaN
2024-01-01,-4.7,-14.0,2.0,2.5,NaN,293.0,22.2,NaN,1002.0,NaN,-2.800000,-6.1,NaN,NaN,NaN

In [21]:
# Сохранение DataFrame в Excel
processor.save_to_excel(filename='weather_analysis.xlsx')
print('Результаты сохранены в weather_analysis.xlsx')

Функция save_to_excel выполнена за 0.4524 секунд
Результаты сохранены в weather_analysis.xlsx