In [1]:
from weather_analysis import WeatherDataProcessor
from data_loader import WeatherDataLoader
from database_manager import WeatherDatabaseManager
import datetime

In [7]:

data_loader = WeatherDataLoader()
weather_data = data_loader.fetch_historical_data('28900', datetime.datetime(2024, 10, 1), datetime.datetime.now())
db_manager = WeatherDatabaseManager('postgres', 'postgres', 'masterkey', 'localhost', 5432)
db_manager.create_table()
weather_analyzer = WeatherDataProcessor(weather_data, db_manager)

weather_analyzer.calculate_all_params()
weather_analyzer.save_to_database('28900')
weather_analyzer.save_to_excel()

Функция __init__ выполнена за 0.0000 секунд
Функция compute_diff выполнена за 0.0002 секунд
Функция find_autocorrelation выполнена за 0.0127 секунд
Функция find_extrema выполнена за 0.0013 секунд
Функция save_to_database выполнена за 0.0606 секунд
Функция save_to_excel выполнена за 0.0368 секунд

In [10]:
db_manager.fetch_data('28900')

   station_id  timestamp   temp_avg  temp_diff  autocorr  max_temp  min_temp
0       28900 2024-10-11  10.942857       -4.3  0.574921       NaN       NaN
1       28900 2024-10-12   9.228571       -2.2  0.567490       NaN      -0.5
2       28900 2024-10-13   7.657143        0.8  0.575014       NaN       NaN
3       28900 2024-10-14   5.742857        1.5  0.585393       NaN       NaN
4       28900 2024-10-15   3.728571        1.5  0.592028       NaN       NaN
..        ...        ...        ...        ...       ...       ...       ...
75      28900 2024-10-05        NaN        2.2  0.662202      11.5       NaN
76      28900 2024-10-06        NaN       -0.2  0.624175       NaN      11.3
77      28900 2024-10-07  12.471429        3.9  0.629255       NaN       NaN
78      28900 2024-10-08  12.785714        2.2  0.634397      17.4       NaN
79      28900 2024-10-09  12.700000       -3.9  0.624526       NaN       NaN

[80 rows x 7 columns]

In [5]:
db_manager.delete_data('28900')

In [9]:
db_manager.delete_data_by_period('28900', datetime.datetime(2024, 10, 10), datetime.datetime(2024, 10, 10))